body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #fff;
    overflow: hidden;
}

.report-image {
    max-width: 100%;
    height: auto;
}

.call-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
}

.call-button img {
    width: 100%;
    height: auto;
}
